<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>This is Header</header>

    <menu>
        <li><a href="/main/">Главная</a></li>
        <li><a href="/about/">О нас</a></li>
        <li><a href="/clothes/">Одежда</a></li>
        <li><a href="/shoes/">Обувь</a></li>
        <li><a href="/accessories/">Аксессуары</a></li>
        <li><a href="/contacts/">Контакты</a></li>
    </menu>

    {% block content %}
    {% endblock %}

    <footer>This is Footer</footer>
    
</body>
</html>
